* {
  font-family: sans-serif; /* Change your font family */
}

a{
  text-decoration: none !important;
}

.content-table {
  border-collapse: collapse;
  margin-top: 50px;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
}

.content-table thead tr {
  background-color: #006798;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #006798;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.btn-outline-primary {
  color: #006798 !important;
  border-color: #006798 !important;
}

.btn-outline-primary:hover {
  background-color: #006798;
  color: #fff !important;
}

.inicio {
  font-size: 60px;
  position: absolute;
  top: 40px;
  right: 100px;
  color: #006798;
  cursor: pointer;
}

.menu{
  display: flex;
  justify-content: center;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 150px 0 150px 0;
  background-color: #ffffff3d;
}

.shortcut {
  width: 150px;
  height: 150px;
  background-color: #006798;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .4s ease;
  margin-right: 50px;
  color: #fff;
  flex-direction: column;
}

.shortcut:hover {
  background-color: #014768;
}

.shortcut a {
  color: #fff;
  text-decoration: none;
}

.shortcut .item {
  color: #fff !important;
  font-size: 40px;
  margin-bottom: 10px;
}

.shortcut p{
  margin: 0;
}

.bg-azul{
  background-color: #0482bd;

}
